In [1]:
#Import the packages
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

In [2]:
# Import the data
mydata = pd.read_csv("C:/Users/tsaip/Downloads/Data files for upcoming classes (2)/Iris_data.csv")

In [4]:
mydata.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [5]:
#Seperate x and y
x=mydata.iloc[:,1:5]
y=mydata.Species

In [6]:
x.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [7]:
y.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: Species, dtype: object

In [8]:
#develop knn model
mymodel=KNeighborsClassifier()

In [10]:
#Optimize hyperparameters
myparamgrid= [{'n_neighbors':[3,4,5,6,7,8,9,10]}]

In [11]:
#Setup the search
mysearch=GridSearchCV(mymodel,param_grid=myparamgrid,cv=10,scoring='accuracy')

In [12]:
#Fit the search to data
mysearch = mysearch.fit(x,y)

In [13]:
#Optimum parameters
mysearch.best_params_

{'n_neighbors': 4}

In [14]:
#develop the optimum model
mymodel=KNeighborsClassifier(n_neighbors=4)

In [15]:
#Fit the model to the data
mymodel=mymodel.fit(x,y)

In [16]:
#Model performance
accuracy=mymodel.score(x,y)
round(accuracy*100,2)

99.01

In [17]:
#Import the test data to check its performance
testdata = pd.read_csv("C:/Users/tsaip/Downloads/Data files for upcoming classes (2)/Iris_test.csv")

In [18]:
#Seperate x and y
testx=testdata.iloc[:,1:5]
testy=testdata.Species

In [19]:
#Model validation on  test data
test_accuracy=mymodel.score(testx,testy)
round(test_accuracy*100,2)

93.88

In [20]:
#Prediction 
mymodel.predict(testx)

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'virginica', 'virginica', 'virginica', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica'], dtype=object)