In [1]:
#import packages
import pandas as pd
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [5]:
#import the dataset
mydata=pd.read_csv(r'C:\Users\SRINJOY\Downloads\bank-data_python.csv')

In [6]:
mydata.head()

,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
0,48,1,0,17546.0,0,1,0,0,0,0,1
1,40,0,3,30085.1,1,3,1,0,1,1,0
2,51,1,0,16575.4,1,0,1,1,1,0,0
3,23,1,3,20375.4,1,3,0,0,1,0,0
4,57,1,1,50576.3,1,0,0,1,0,0,0

In [7]:
x=mydata.iloc[:,:10]
y=mydata.pep

In [17]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=42)

In [18]:
y.count(),ytrain.count(),ytest.count()

(600, 480, 120)

In [19]:
#develop the model
mymodel=tree.DecisionTreeClassifier()

In [20]:
#hyper parameter tuning
#create parameter grid
myparamgrid=[{'criterion':['gini','entropy'],'min_samples_split':[2,5,10,25,40,50]}]

In [21]:
#set up the search
mysearch=GridSearchCV(mymodel,param_grid=myparamgrid,scoring='accuracy',cv=10).fit(xtrain,ytrain)
mysearch.best_params_

{'criterion': 'gini', 'min_samples_split': 10}

In [22]:
#develop the optimum model
mymodel=tree.DecisionTreeClassifier(criterion='gini',min_samples_split=10).fit(xtrain,ytrain)

In [23]:
accuracy=mymodel.score(xtrain,ytrain)
round(accuracy*100,3)

94.583

In [24]:
test_accuracy=mymodel.score(xtest,ytest)
round(test_accuracy*100,3)

85.0

In [26]:
myrules=tree.export_text(mymodel,feature_names=['age','sex','region','income','married','children','car','save_act','current_act','mortgage'])
print(myrules)

|--- income <= 29669.75
|   |--- children <= 1.50
|   |   |--- children <= 0.50
|   |   |   |--- married <= 0.50
|   |   |   |   |--- mortgage <= 0.50
|   |   |   |   |   |--- age <= 36.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- age >  36.50
|   |   |   |   |   |   |--- income <= 18943.10
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- income >  18943.10
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- mortgage >  0.50
|   |   |   |   |   |--- save_act <= 0.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- save_act >  0.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |--- married >  0.50
|   |   |   |   |--- mortgage <= 0.50
|   |   |   |   |   |--- age <= 59.00
|   |   |   |   |   |   |--- income <= 19164.50
|   |   |   |   |   |   |   |--- income <= 14388.55
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- income >  14388.55
|   |   |   |   |   |   |   |   |--- income <= 15126.60
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- income >  15126.60
|   |   |   |   |   |   |   |   |   |--- income <= 18708.25
|   |   |   |   |   |   |   |   |   |   |--- income <= 16747.95
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- income >  16747.95
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- income >  18708.25
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- income >  19164.50
|   |   |   |   |   |   |   |--- age <= 29.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- age >  29.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- age >  59.00
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- mortgage >  0.50
|   |   |   |   |   |--- save_act <= 0.50
|   |   |   |   |   |   |--- region <= 2.50
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- region >  2.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- save_act >  0.50
|   |   |   |   |   |   |--- age <= 43.00
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- age >  43.00
|   |   |   |   |   |   |   |--- class: 0
|   |   |--- children >  0.50
|   |   |   |--- income <= 15155.85
|   |   |   |   |--- age <= 44.50
|   |   |   |   |   |--- income <= 12649.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- income >  12649.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- age >  44.50
|   |   |   |   |   |--- class: 1
|   |   |   |--- income >  15155.85
|   |   |   |   |--- age <= 55.00
|   |   |   |   |   |--- income <= 28925.85
|   |   |   |   |   |   |--- income <= 17274.65
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- income >  17274.65
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- income >  28925.85
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- age >  55.00
|   |   |   |   |   |--- class: 0
|   |--- children >  1.50
|   |   |--- income <= 13939.55
|   |   |   |--- income <= 12746.90
|   |   |   |   |--- age <= 36.50
|   |   |   |   |   |--- sex <= 0.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- sex >  0.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- age >  36.50
|   |   |   |   |   |--- class: 1
|   |   |   |--- income >  12746.90
|   |   |   |   |--- class: 1
|   |   |--- income >  13939.55
|   |   |   |--- age <= 33.50
|   |   |   |   |--- age <= 32.50
|   |   |   |   |   |--- current_act <= 0.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- current_act >  0.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- age >  32.50
|   |   |   |   |   |--- class: 1
|   |   |   |--- age >  33.50
|   |   |   |   |--- age <= 49.50
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- age >  49.50
|   |   |   |   |   |--- married <= 0.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- married >  0.50
|   |   |   |   |   |   |--- class: 0
|--- income >  29669.75
|   |--- children <= 0.50
|   |   |--- married <= 0.50
|   |   |   |--- mortgage <= 0.50
|   |   |   |   |--- class: 1
|   |   |   |--- mortgage >  0.50
|   |   |   |   |--- save_act <= 0.50
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- save_act >  0.50
|   |   |   |   |   |--- class: 0
|   |   |--- married >  0.50
|   |   |   |--- income <= 30301.40
|   |   |   |   |--- class: 1
|   |   |   |--- income >  30301.40
|   |   |   |   |--- current_act <= 0.50
|   |   |   |   |   |--- income <= 50890.25
|   |   |   |   |   |   |--- region <= 2.50
|   |   |   |   |   |   |   |--- age <= 45.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- age >  45.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- region >  2.50
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- income >  50890.25
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- current_act >  0.50
|   |   |   |   |   |--- class: 0
|   |--- children >  0.50
|   |   |--- children <= 2.50
|   |   |   |--- region <= 1.50
|   |   |   |   |--- age <= 46.50
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- age >  46.50
|   |   |   |   |   |--- income <= 44079.05
|   |   |   |   |   |   |--- income <= 42351.60
|   |   |   |   |   |   |   |--- mortgage <= 0.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- mortgage >  0.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- income >  42351.60
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- income >  44079.05
|   |   |   |   |   |   |--- class: 1
|   |   |   |--- region >  1.50
|   |   |   |   |--- class: 1
|   |   |--- children >  2.50
|   |   |   |--- income <= 43320.70
|   |   |   |   |--- region <= 1.50
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- region >  1.50
|   |   |   |   |   |--- class: 0
|   |   |   |--- income >  43320.70
|   |   |   |   |--- class: 1