In [1]:
#Import required packages
import pandas as pd
from sklearn import svm
from sklearn.model_selection import GridSearchCV

In [2]:
# Import the data
mydata = pd.read_csv("C:/Users/tsaip/Downloads/Data files for upcoming classes (2)/Iris_data.csv")

In [3]:
mydata.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [4]:
#Seperate x and y
x=mydata.iloc[:,1:5]
y=mydata.Species

In [5]:
x

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
96            6.7          3.3           5.7          2.5
97            6.7          3.0           5.2          2.3
98            6.3          2.5           5.0          1.9
99            6.2          3.4           5.4          2.3
100           5.9          3.0           5.1          1.8

[101 rows x 4 columns]

In [6]:
#Develop svm model
mymodel=svm.SVC()

In [8]:
#Tune the hyperparameter
myparamgrid = [{'C':[0.001,0.01,0.1,1,5,10,50,100],'kernel':['linear', 'poly', 'rbf','sigmoid'],'degree':[1,2,3,4]}]

In [9]:
mysearch=GridSearchCV(mymodel,param_grid=myparamgrid,cv=10,scoring='accuracy')

In [10]:
#Fit the search to data
mysearch = mysearch.fit(x,y)

In [11]:
#Optimum parameters
mysearch.best_params_

{'C': 5, 'degree': 1, 'kernel': 'rbf'}

In [35]:
#Develoip the optimum model
#Give probability is true to predict probability during test data
mymodel=svm.SVC(C=5,kernel='rbf',degree=1,probability=True)

In [25]:
#Fit the model to the data
mymodel=mymodel.fit(x,y)

In [26]:
#Model performance
accuracy=mymodel.score(x,y)
round(accuracy*100,2)

100.0

In [27]:
#Import the test data to check its performance
testdata = pd.read_csv("C:/Users/tsaip/Downloads/Data files for upcoming classes (2)/Iris_test.csv")

In [28]:
testdata.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           6           5.4          3.9           1.7          0.4  setosa
1           8           5.0          3.4           1.5          0.2  setosa
2          13           4.8          3.0           1.4          0.1  setosa
3          14           4.3          3.0           1.1          0.1  setosa
4          19           5.7          3.8           1.7          0.3  setosa

In [29]:
#Seperate x and y
testx=testdata.iloc[:,1:5]
testy=testdata.Species

In [30]:
testx.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           5.4          3.9           1.7          0.4
1           5.0          3.4           1.5          0.2
2           4.8          3.0           1.4          0.1
3           4.3          3.0           1.1          0.1
4           5.7          3.8           1.7          0.3

In [31]:
testy.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: Species, dtype: object

In [32]:
#Model validation on  test data
test_accuracy=mymodel.score(testx,testy)
round(test_accuracy*100,2)

95.92

In [33]:
#Prediction 
mymodel.predict(testx)

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'virginica', 'virginica', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica'], dtype=object)

In [34]:
mymodel.predict_proba(testx)

array([[0.94826638, 0.03563963, 0.01609399],
       [0.96177047, 0.02572922, 0.01250031],
       [0.96086981, 0.02642643, 0.01270376],
       [0.9750017 , 0.0134352 , 0.0115631 ],
       [0.94201975, 0.04093122, 0.01704902],
       [0.92127145, 0.06132958, 0.01739897],
       [0.92826676, 0.05372536, 0.01800788],
       [0.93816172, 0.04653191, 0.01530637],
       [0.94553629, 0.03972537, 0.01473834],
       [0.96203243, 0.02543793, 0.01252964],
       [0.95065049, 0.03492733, 0.01442219],
       [0.94491305, 0.04026161, 0.01482535],
       [0.97320794, 0.01430097, 0.01249109],
       [0.96055516, 0.02683216, 0.01261269],
       [0.97138094, 0.01763532, 0.01098374],
       [0.96487734, 0.02324986, 0.0118728 ],
       [0.01964887, 0.74171209, 0.23863904],
       [0.01225731, 0.84733253, 0.14041016],
       [0.01681242, 0.81217645, 0.17101113],
       [0.01455018, 0.93036959, 0.05508023],
       [0.01082083, 0.9805198 , 0.00865937],
       [0.01937044, 0.95376658, 0.02686298],
       [0.01366375, 0.9792708 , 0.00706545],
       [0.01293912, 0.44346424, 0.54359664],
       [0.01671185, 0.3922358 , 0.59105235],
       [0.01233619, 0.18264156, 0.80502225],
       [0.01772875, 0.85645645, 0.1258148 ],
       [0.0090424 , 0.91909818, 0.07185942],
       [0.01021387, 0.96683647, 0.02294965],
       [0.01178208, 0.97776232, 0.01045561],
       [0.01337347, 0.00678355, 0.97984298],
       [0.01028292, 0.0196145 , 0.97010259],
       [0.01004486, 0.0034329 , 0.98652224],
       [0.02113047, 0.00540465, 0.97346489],
       [0.01587168, 0.00692939, 0.97719893],
       [0.01773591, 0.00527899, 0.9769851 ],
       [0.01523828, 0.12487688, 0.85988484],
       [0.01244197, 0.01769064, 0.9698674 ],
       [0.01130169, 0.03616393, 0.95253438],
       [0.01054012, 0.00901932, 0.98044056],
       [0.01257848, 0.19791015, 0.78951137],
       [0.01428088, 0.29669092, 0.6890282 ],
       [0.00974723, 0.00610167, 0.9841511 ],
       [0.01579484, 0.05111048, 0.93309468],
       [0.01602761, 0.00833101, 0.97564138],
       [0.02009125, 0.00688759, 0.97302116],
       [0.01143942, 0.00569449, 0.98286608],
       [0.01394747, 0.03298587, 0.95306666],
       [0.01330723, 0.062444  , 0.92424878]])